<!doctype html>
%html
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    / Apple devices fullscreen
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    / Apple devices fullscreen
    %meta{:content => "black-translucent", :names => "apple-mobile-web-app-status-bar-style"}/
    %title Arbor & Cannon
    /[if lte IE 9]
      <script src="js/plugins/placeholder/jquery.placeholder.min.js"></script>
      <script>
      $(document).ready(function() {
      $('input, textarea').placeholder();
      });
      </script>
    / Favicon
    %link{:href => "/assets/flat/favicon.ico", :rel => "shortcut icon"}/
    / Apple devices Homescreen icon
    %link{:href => "/assets/flat/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
  %body
    = render 'modals/new_project'
    #modal-user.modal.hide
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#user-infos Jane Doe
      .modal-body
        .row-fluid
          .span2
            %img{:alt => "", :src => "/assets/flat/demo/user-1.jpg"}/
          .span10
            %dl.dl-horizontal{:style => "margin-top:0;"}
              %dt Full name:
              %dd Jane Doe
              %dt Email:
              %dd jane.doe@janedoesemail.com
              %dt Address:
              %dd
                %address
                  %strong John Doe, Inc.
                  %br/
                  7195 JohnsonDoes Ave, Suite 320
                  %br/
                  San Francisco, CA 881234
                  %br/
                  %abbr{:title => "Phone"} P:
                  (123) 456-7890
              %dt Social:
              %dd
                %a.btn{:href => "#"}
                  %i.icon-facebook
                %a.btn{:href => "#"}
                  %i.icon-twitter
                %a.btn{:href => "#"}
                  %i.icon-linkedin
                %a.btn{:href => "#"}
                  %i.icon-envelope
                %a.btn{:href => "#"}
                  %i.icon-rss
                %a.btn{:href => "#"}
                  %i.icon-github
      .modal-footer
        %button.btn{"data-dismiss" => "modal"} Close
    = render 'shared/top_navigation'
    #content.container-fluid
      = yield